.head__subtitle {
  padding-top: 32px;
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
  font-family: 'inter', sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
}

@media screen and (max-width: 720px) {
  .head__subtitle {
    max-width: 440px;
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 450px) {
  .head__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
  }
}
