.places {
  margin: 92px auto 0;
  padding: 0;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px 24px 0;
    gap: 73px;
  }
}

@media screen and (max-width: 620px) {
  .places {
    margin: 64px auto 0;
  }
}
