

















 

















































@media screen and (max-width: 1024px) {
    .intro {
        margin-left:48px ;
        margin-right: 286px;
    }
    .photo {
        max-width: 928px;
        grid-template-columns: repeat(auto-fil, 300px);
        gap: 14px;
    }
    .photo__item {
        max-width: 300px;
        max-height: 225px;
    }
    .places {
        max-width: 928px;
        margin: 92px 48px 0;
    }
    .place__image {
        max-width: 440px;
        min-height: 440px;
    }
    .cover__background {
        margin: 0 auto;
        max-width: 1024px;
        min-height: 640px;
    } 
    }
    @media screen and (max-width: 768px) {
        .head__caption {
            margin-left: 24px;
        }
        .intro {
            margin: 92px 24px 0
        }
        .photo {
            margin: 88px 24px 0;
            max-width: 720px;
            grid-template-columns: repeat(auto-fill, 352px);
            gap: 16px;
        }
        .photo__item {
            max-width: 352px;
            max-height: 264px;
        }
        .places {
            max-width: 720px;
            margin: 88px 24px 0;
        }
        .place__title {
            font-size: 42px;
            line-height: 46px;
            font-weight: 900;
        }
        .place__image {
            max-width: 340px;
            min-height: 340px;
        }
    }
     