.head__title {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  font-family: 'inter', sans-serif;
  color: #ffffff;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .head__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .head__title {
    font-size: 60px;
    line-height: 64px;
  }
}

@media screen and (max-width: 440px) {
  .head__title {
    font-size: 40px;
    line-height: 44px;
  }
}
