.place__image {
  grid-area: place__image;
  margin-top: 48px;
  width: 460px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 620px) {
  .place__image {
    margin-top: 0;
    justify-self: center;
    max-width: 100vw;
    object-fit: contain;

  }
}
