.header {
  margin: 0 48px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 52px;
}
@media screen and (max-width: 425px){
  .header {
    margin: 0 16px;
    padding-top: 16px;
    min-height: 42px;
  }
}
