.footer__cooperait {
  margin: 0;
  color: #fff;
  font-family: 'inter', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 425px) {
  .footer__cooperait {
    line-height: 14px;
  }
}
