.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 0 18px;
  list-style-type: none;
}

@media screen and (max-width: 494px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}
