.place__link {
  font-family: inter, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.place__link:hover {
  opacity: .8;
}