.place {
  margin: 60px auto 0;
  width: 100%;
  display: grid;
  grid-template-areas: "place__title place__website"
                       "place__image place__desk";
  grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
  column-gap: 40px;
}

@media screen and (max-width: 1024px){
  .place {
    margin: 60px auto 0;
    column-gap: 32px; 
  }
}
@media screen and (max-width: 768px){
  .place {
    margin: 73px auto 0;
    column-gap: 28px; 
  }
  
}
 @media screen and (max-width: 620px){
  .place {
    grid-template-areas: "place__title"
                         "place__website"
                         "place__image"
                         "place__desk";
    justify-items: center;
    row-gap: 32px;
    margin: 50px auto 0;
  }
}